In [169]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [171]:
df2 = pd.read_csv('Telcome_data.csv')

In [173]:
df2.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311450e+19,04/04/2019 12:01,770.0,25/04/2019 14:35,662.0,1823652.0,2.082010e+14,3.366496e+10,3.552120e+13,9.16457E+15,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311450e+19,09/04/2019 13:04,235.0,25/04/2019 08:15,606.0,1365104.0,2.082020e+14,3.368185e+10,3.579400e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311450e+19,09/04/2019 17:42,1.0,25/04/2019 11:58,652.0,1361762.0,2.082000e+14,3.376063e+10,3.528150e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311450e+19,10/04/2019 00:31,486.0,25/04/2019 07:36,171.0,1321509.0,2.082010e+14,3.375034e+10,3.535660e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311450e+19,12/04/2019 20:10,565.0,25/04/2019 10:40,954.0,1089009.0,2.082010e+14,3.369980e+10,3.540700e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [175]:
df2.shape[0], df2.shape[1]

(150001, 55)

In [177]:
df2.columns.tolist()

['Bearer Id',
 'Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'TCP DL Retrans. Vol (Bytes)',
 'TCP UL Retrans. Vol (Bytes)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'HTTP DL (Bytes)',
 'HTTP UL (Bytes)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Handset Manufacturer',
 'Handset Type',
 'Nb of sec with 125000B < Vol DL',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B',
 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)']

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [7]:
import collections 

def handset_manufacturer(df):
    # 
    manufacturer_list = df['Handset Manufacturer'].tolist()
    occurence =  collections.Counter(manufacturer_list)
    #
    top_mobiles = pd.DataFrame.from_dict(occurence, orient ='index').reset_index()
    return top_mobiles.sort_values(0, ascending = False)

print()
handset_manufacturer(df2).head(10)

                                   index      0
3                                  Apple  59565
0                                Samsung  40839
2                                 Huawei  34423
1                              undefined   8987
25         Sony Mobile Communications Ab    980
7                       Wiko Global Sasu    747
10                                   NaN    572
18          Xiaomi Communications Co Ltd    397
9   Oneplus Technology (Shenzhen) Co Ltd    342
17                               Asustek    285

In [179]:
def handset_type(df):
    # 
    manufacturer_list = df['Handset Type'].tolist()
    occurence =  collections.Counter(manufacturer_list)
    #
    top_mobiles = pd.DataFrame.from_dict(occurence, orient ='index').reset_index()
    return top_mobiles.sort_values(0, ascending = False)

handset_type(df2).head(10)

                           index      0
19              Huawei B528S-23A  19752
11       Apple iPhone 6S (A1688)   9419
29        Apple iPhone 6 (A1586)   9023
3                      undefined   8987
25        Apple iPhone 7 (A1778)   6326
22       Apple iPhone Se (A1723)   5187
23        Apple iPhone 8 (A1905)   4993
31       Apple iPhone Xr (A2105)   4568
9   Samsung Galaxy S8 (Sm-G950F)   4520
50        Apple iPhone X (A1901)   3813

In [181]:
df2.sort_values(by = ['MSISDN/Number'],
        ascending=False)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
125037,7.277830e+18,20/04/2019 11:05,259.0,30/04/2019 12:42,459.0,869844.0,2.040470e+14,8.823970e+14,8.679620e+13,T31980A,...,18980320.0,21960390.00,21621336.00,7224894.00,28092282.0,1.497798e+07,389159720.0,1.220074e+07,60456049.0,78697597.0
126054,7.349880e+18,27/04/2019 04:33,811.0,30/04/2019 02:50,12.0,253030.0,2.082100e+14,3.370000e+14,8.619200e+13,T89979A,...,16690728.0,20044212.00,9983678.00,20921364.00,501259042.0,8.883653e+06,144354057.0,4.834382e+06,56652839.0,539634985.0
100015,7.277830e+18,19/04/2019 08:59,345.0,29/04/2019 12:42,670.0,877385.0,2.040810e+14,3.197020e+12,8.667580e+13,L70386B,...,9839889.0,2120016.00,10340908.00,16251392.00,164563605.0,1.348513e+07,467678100.0,2.848373e+06,37295915.0,194828056.0
57409,1.311450e+19,25/04/2019 20:27,846.0,27/04/2019 11:37,505.0,140988.0,2.082010e+14,3.379000e+10,3.529760e+13,D42155B,...,5596862.0,14254710.00,6929961.00,1601099.00,427620216.0,9.383076e+06,204636073.0,6.479040e+06,35732243.0,444575092.0
23705,1.304240e+19,24/04/2019 20:50,829.0,24/04/2019 23:16,517.0,8810.0,2.082010e+14,3.379000e+10,8.687980e+13,T93842C,...,8294310.0,18353533.00,14754741.00,147797.00,657326717.0,3.034642e+06,291391283.0,3.891534e+06,26716429.0,687925212.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149674,7.277830e+18,29/04/2019 07:25,187.0,30/04/2019 00:32,347.0,61613.0,2.082020e+14,NaN,3.537990e+13,D28868A,...,9094818.0,9812360.00,22422376.00,7357925.00,600327837.0,8.680486e+06,494395538.0,1.157950e+07,39571507.0,646025581.0
149723,NaN,29/04/2019 07:26,375.0,30/04/2019 06:26,784.0,82803.0,NaN,NaN,NaN,NaN,...,10372625.0,6450992.00,4370923.00,14310022.00,9900295.0,9.923545e+06,104640864.0,1.601938e+07,48896971.0,34880615.0
149813,7.277830e+18,29/04/2019 07:26,65.0,30/04/2019 10:19,433.0,96737.0,2.082020e+14,NaN,8.662190e+13,K62027B,...,17457321.0,17459214.00,8372449.00,14352301.00,282921655.0,9.025186e+06,527386680.0,1.161081e+07,55314898.0,315248211.0
149856,7.277830e+18,29/04/2019 07:27,430.0,30/04/2019 04:25,971.0,75507.0,2.082010e+14,NaN,3.584940e+13,T89406B,...,21282741.0,17080751.00,17361240.00,17821994.00,27260054.0,8.703598e+06,704004933.0,1.596177e+07,63397129.0,72463391.0
150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11634072.5,11009410.13,11626851.72,11001754.82,422044702.6,8.288398e+06,421100544.2,8.264799e+06,NaN,NaN

In [183]:
def aggregate_per_id(df):

    columns_to_show = ['Dur. (ms)', 'Total UL (Bytes)', 
                   'Total DL (Bytes)', ]

    return df.groupby(['Bearer Id'])[columns_to_show].agg([np.mean, np.min, 
                                            np.max,])

aggregate_per_id(df2)

                  Dur. (ms)                      Total UL (Bytes)              \
                       mean       min        max             mean         min
Bearer Id
6.917540e+18   59200.758240    7146.0   355758.0     4.130933e+07   5921981.0
7.277830e+18   75667.617420    7284.0  1328732.0     4.125749e+07   5461287.0
7.349880e+18  133635.315821    8949.0  1573420.0     4.108827e+07   2866892.0
7.421940e+18   67042.989691   12103.0   301616.0     4.107144e+07  10210682.0
7.566060e+18  153399.000000  153399.0   153399.0     5.890703e+07  58907032.0
1.268210e+19   33674.717846    7364.0   243646.0     4.096270e+07   7934749.0
1.304240e+19   80639.069018    7142.0  1859336.0     4.108569e+07   4338786.0
1.311450e+19  132829.813892    7697.0  1859327.0     4.105602e+07   6243519.0
1.318650e+19   67987.000000   10954.0   255505.0     4.244523e+07  13884525.0

                         Total DL (Bytes)
                     max             mean         min          max
Bearer Id
6.917540e+18  73936462.0     4.544635e+08  14194498.0  891643520.0
7.277830e+18  77458132.0     4.547874e+08   9046209.0  899502184.0
7.349880e+18  77157382.0     4.544351e+08   8827082.0  902969616.0
7.421940e+18  68552172.0     4.673357e+08  64413845.0  895681761.0
7.566060e+18  58907032.0     8.131301e+07  81313010.0   81313010.0
1.268210e+19  71093966.0     4.684946e+08  17697045.0  889115655.0
1.304240e+19  78331311.0     4.533535e+08   7114041.0  899212554.0
1.311450e+19  77390291.0     4.560214e+08   9199518.0  894503152.0
1.318650e+19  64738232.0     4.127670e+08  31181078.0  872688792.0

In [187]:
df3 = df2.copy()

In [189]:
total_data = df3['Total UL (Bytes)'] + df3['Total DL (Bytes)'] + df3['Other UL (Bytes)'] + df3['Other DL (Bytes)']
df3.insert(loc=len(df3.columns), column='Total Data (Bytes)', value=total_data) 
# loc parameter is the number of columns after which to insert the Series object
# we set it to len(df.columns) to paste it at the very end of the dataframe
df3.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes),Total Data (Bytes)
0,1.311450e+19,04/04/2019 12:01,770.0,25/04/2019 14:35,662.0,1823652.0,2.082010e+14,3.366496e+10,3.552120e+13,9.16457E+15,...,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0,5.261882e+08
1,1.311450e+19,09/04/2019 13:04,235.0,25/04/2019 08:15,606.0,1365104.0,2.082020e+14,3.368185e+10,3.579400e+13,L77566A,...,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0,1.249145e+09
2,1.311450e+19,09/04/2019 17:42,1.0,25/04/2019 11:58,652.0,1361762.0,2.082000e+14,3.376063e+10,3.528150e+13,D42335A,...,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0,7.225993e+08
3,1.311450e+19,10/04/2019 00:31,486.0,25/04/2019 07:36,171.0,1321509.0,2.082010e+14,3.375034e+10,3.535660e+13,T21824A,...,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0,1.651190e+09
4,1.311450e+19,12/04/2019 20:10,565.0,25/04/2019 10:40,954.0,1089009.0,2.082010e+14,3.369980e+10,3.540700e+13,D88865A,...,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0,1.172301e+09

In [13]:
df3.pivot_table(['Bearer Id'],['MSISDN/Number']).head(10)

                  Bearer Id
MSISDN/Number
3.360100e+10   1.311450e+19
3.360100e+10   7.349880e+18
3.360100e+10   7.349880e+18
3.360101e+10   1.304240e+19
3.360101e+10   7.313855e+18
3.360101e+10   7.313855e+18
3.360101e+10   7.313855e+18
3.360101e+10   1.304240e+19
3.360101e+10   7.349880e+18
3.360102e+10   7.349880e+18

In [14]:
def percent_missing(df):

    # Calculate total number of cells in dataframe
    totalCells = np.product(df.shape)

    # Count number of missing values per column
    missingCount = df.isnull().sum()

    # Calculate total number of missing values
    totalMissing = missingCount.sum()

    # Calculate percentage of missing values
    print("The Telecom Data contains", round(((totalMissing/totalCells) * 100), 2), "%", "missing values.")

percent_missing(df2)

The Telecom Data contains 12.5 % missing values.

In [15]:
df2.isna().sum()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [16]:
# drop columns with more than 30% missing values
clean_df = df2.drop(['Nb of sec with 125000B < Vol DL', 'Nb of sec with 1250B < Vol UL < 6250B', 'Nb of sec with 31250B < Vol DL < 125000B', 
                    'Nb of sec with 37500B < Vol UL', 'Nb of sec with 6250B < Vol DL < 31250B',
                   'Nb of sec with 6250B < Vol UL < 37500B','Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
                   'Dur. (ms).1', 'HTTP DL (Bytes)', 'HTTP UL (Bytes)'], axis=1)
clean_df.shape

(150001, 44)

In [191]:
clean_df.isna().sum()

Bearer Id                           991
Start                                 1
Start ms                              1
End                                   1
End ms                                1
Dur. (ms)                             1
IMSI                                570
MSISDN/Number                      1066
IMEI                                572
Last Location Name                 1153
Avg RTT DL (ms)                   27829
Avg RTT UL (ms)                   27812
Avg Bearer TP DL (kbps)               1
Avg Bearer TP UL (kbps)               1
TCP DL Retrans. Vol (Bytes)       88146
TCP UL Retrans. Vol (Bytes)       96649
DL TP < 50 Kbps (%)                 754
50 Kbps < DL TP < 250 Kbps (%)      754
250 Kbps < DL TP < 1 Mbps (%)       754
DL TP > 1 Mbps (%)                  754
UL TP < 10 Kbps (%)                 792
10 Kbps < UL TP < 50 Kbps (%)       792
50 Kbps < UL TP < 300 Kbps (%)      792
UL TP > 300 Kbps (%)                792
Activity Duration DL (ms)             1
Activity Duration UL (ms)             1
Handset Manufacturer                572
Handset Type                        572
Social Media DL (Bytes)               0
Social Media UL (Bytes)               0
Google DL (Bytes)                     0
Google UL (Bytes)                     0
Email DL (Bytes)                      0
Email UL (Bytes)                      0
Youtube DL (Bytes)                    0
Youtube UL (Bytes)                    0
Netflix DL (Bytes)                    0
Netflix UL (Bytes)                    0
Gaming DL (Bytes)                     0
Gaming UL (Bytes)                     0
Other DL (Bytes)                      0
Other UL (Bytes)                      0
Total UL (Bytes)                      1
Total DL (Bytes)                      1
dtype: int64

from scipy.stats import skew 
clean_df.skew(axis = 0, skipna = True)

In [195]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 44 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Bearer Id                       149010 non-null  float64
 1   Start                           150000 non-null  object
 2   Start ms                        150000 non-null  float64
 3   End                             150000 non-null  object
 4   End ms                          150000 non-null  float64
 5   Dur. (ms)                       150000 non-null  float64
 6   IMSI                            149431 non-null  float64
 7   MSISDN/Number                   148935 non-null  float64
 8   IMEI                            149429 non-null  float64
 9   Last Location Name              148848 non-null  object
 10  Avg RTT DL (ms)                 122172 non-null  float64
 11  Avg RTT UL (ms)                 122189 non-null  float64
 12  Avg Bearer TP DL (kbps)         150000 non-null  float64
 13  Avg Bearer TP UL (kbps)         150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)     61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)     53352 non-null   float64
 16  DL TP < 50 Kbps (%)             149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)  149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)   149247 non-null  float64
 19  DL TP > 1 Mbps (%)              149247 non-null  float64
 20  UL TP < 10 Kbps (%)             149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)   149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)  149209 non-null  float64
 23  UL TP > 300 Kbps (%)            149209 non-null  float64
 24  Activity Duration DL (ms)       150000 non-null  float64
 25  Activity Duration UL (ms)       150000 non-null  float64
 26  Handset Manufacturer            149429 non-null  object
 27  Handset Type                    149429 non-null  object
 28  Social Media DL (Bytes)         150001 non-null  float64
 29  Social Media UL (Bytes)         150001 non-null  float64
 30  Google DL (Bytes)               150001 non-null  float64
 31  Google UL (Bytes)               150001 non-null  float64
 32  Email DL (Bytes)                150001 non-null  float64
 33  Email UL (Bytes)                150001 non-null  float64
 34  Youtube DL (Bytes)              150001 non-null  float64
 35  Youtube UL (Bytes)              150001 non-null  float64
 36  Netflix DL (Bytes)              150001 non-null  float64
 37  Netflix UL (Bytes)              150001 non-null  float64
 38  Gaming DL (Bytes)               150001 non-null  float64
 39  Gaming UL (Bytes)               150001 non-null  float64
 40  Other DL (Bytes)                150001 non-null  float64
 41  Other UL (Bytes)                150001 non-null  float64
 42  Total UL (Bytes)                150000 non-null  float64
 43  Total DL (Bytes)                150000 non-null  float64
dtypes: float64(39), object(5)
memory usage: 50.4+ MB

In [197]:
from sklearn.impute import SimpleImputer
    
imputer = SimpleImputer(strategy='mean')
imputer.fit(clean_df)
    
X = imputer.transform(clean_df)
df_clean = pd.DataFrame(X, columns = clean_df.columns)

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: '04/04/2019 12:01'

In [199]:
total_session = df_clean['Bearer Id'].tolist()
occurence =  collections.Counter(total_session)

total_sessions = pd.DataFrame.from_dict(occurence, orient ='index').reset_index()
total_sessions.sort_values(0, ascending = False)

NameError: name 'df_clean' is not defined

In [201]:
users = df_clean['MSISDN/Number'].tolist()
occurence =  collections.Counter(users)

total_users = pd.DataFrame.from_dict(occurence, orient ='index').reset_index()
total_users.sort_values(0, ascending = False).head(10)

NameError: name 'df_clean' is not defined

In [ ]:
data_describe = df_clean.describe()
db = data_describe.iloc[0:,23:31]
db

In [ ]:
df_clean

In [ ]:
# Adding the columns together
def total_data(df):
    # Adding the columns together
    total_data = df['Total UL (Bytes)'] + df['Total DL (Bytes)']
    df['Total Data (Bytes)'] = total_data
    
    
def gaming_data(df):
    gaming_data = df['Gaming UL (Bytes)'] + df['Gaming DL (Bytes)'] 
    df['Gaming Data (Bytes)'] = gaming_data
    
def social_data(df):
    social_data = df['Social Media UL (Bytes)'] + df['Social Media DL (Bytes)'] 
    df['Social Media Data (Bytes)'] = social_data
    
def google_data(df):
    google_data = df['Google UL (Bytes)'] + df['Google DL (Bytes)'] 
    df['Google Data (Bytes)'] = google_data
    
def youtube_data(df):
    youtube_data = df['Youtube UL (Bytes)'] + df['Youtube DL (Bytes)'] 
    df['Youtube Data (Bytes)'] = youtube_data
    
def email_data(df):
    email_data = df['Email UL (Bytes)'] + df['Email DL (Bytes)'] 
    df['Email Data (Bytes)'] = email_data
    
def netflix_data(df):
    netflix_data = df['Netflix UL (Bytes)'] + df['Netflix DL (Bytes)'] 
    df['Netflix Data (Bytes)'] = netflix_data
    
def other_data(df):
    other_data = df['Other UL (Bytes)'] + df['Other DL (Bytes)'] 
    df['Other Data (Bytes)'] = other_data
    
social_data(df_clean)
google_data(df_clean)
email_data(df_clean)
youtube_data(df_clean)
netflix_data(df_clean)
gaming_data(df_clean)
other_data(df_clean)
total_data(df_clean)

In [ ]:
sns.histplot(data = df_clean, x = df_clean['Total Data (Bytes)'], kde=True)
plt.savefig('Total Data Distribution.png')

In [ ]:
sns.histplot(data = df_clean, x = df_clean['Google Data (Bytes)'], kde=True)
plt.savefig('Google Data Distribution.png')

In [ ]:
sns.histplot(data = df_clean, x = df_clean['Social Media Data (Bytes)'], kde=True)
plt.savefig('Social Media.png')

In [ ]:
sns.histplot(data = df_clean, x = df_clean['Netflix Data (Bytes)'], kde=True)
plt.savefig('Netflix Distribution.png')

In [ ]:
sns.histplot(data = df_clean, x = df_clean['Youtube Data (Bytes)'], kde=True)
plt.savefig('Youtube Distribution.png')

In [ ]:
sns.histplot(data = df_clean, x = df_clean['Other Data (Bytes)'], kde=True)
plt.savefig('Other Data Distribution.png')

In [ ]:
sns.histplot(data = df_clean, x = df_clean['Gaming Data (Bytes)'], kde=True)

plt.savefig('Gaming Distribution.png')

In [ ]:
sns.histplot(data = df_clean, x = df_clean['Email Data (Bytes)'], kde=True)
plt.savefig('Email Distribution.png')

In [ ]:
sns.scatterplot(x= df_clean.index, y = df_clean['Social Media Data (Bytes)'])

In [ ]:
sns.scatterplot(x= df_clean.index, y = df_clean['Total Data (Bytes)'])

In [ ]:
sns.scatterplot(x= df_clean.index, y = df_clean['Google Data (Bytes)'])

In [ ]:
sns.scatterplot(x= df_clean.index, y = df_clean['Avg RTT DL (ms)'])

In [ ]:
sns.scatterplot(x= df_clean.index, y = df_clean['Activity Duration DL (ms)'])

In [ ]:
sns.scatterplot(x= df_clean.index, y = df_clean['Avg RTT UL (ms)'])

In [ ]:
sns.scatterplot(x= df_clean.index, y = df_clean['Activity Duration UL (ms)'])

In [ ]:
df_clean.columns

In [ ]:
df_clean = df_clean.drop(['Social Media UL (Bytes)', 'Social Media DL (Bytes)', 'Google DL (Bytes)', 
                         'Google UL (Bytes)', 'Email DL (Bytes)', 'Email UL (Bytes)','Youtube DL (Bytes)'
                         ,'Youtube UL (Bytes)', 'Netflix DL (Bytes)', 'Netflix UL (Bytes)','Gaming DL (Bytes)',
                         'Gaming UL (Bytes)', 'Other DL (Bytes)','Other UL (Bytes)','Total UL (Bytes)',
                         'Total DL (Bytes)'], axis = 1)

In [ ]:
df_clean

In [ ]:
sns.scatterplot(x=df_clean.loc[0:1000, 'Social Media Data (Bytes)'], y=df_clean.loc[0:1000, 'Total Data (Bytes)']) 
plt.savefig('Social Correlation.png')

In [ ]:
sns.scatterplot(x=df_clean.loc[0:1000, 'Google Data (Bytes)'], y=df_clean.loc[0:1000, 'Total Data (Bytes)'])
plt.savefig('Google Correlation.png')

In [ ]:
sns.scatterplot(x=df_clean.loc[0:1000, 'Email Data (Bytes)'], y=df_clean.loc[0:1000, 'Total Data (Bytes)'])
plt.savefig('Email Correlation.png')

In [ ]:
sns.scatterplot(x=df_clean.loc[0:1000, 'Youtube Data (Bytes)'], y=df_clean.loc[0:1000, 'Total Data (Bytes)'])
plt.savefig('Youtube Correlation.png')

In [ ]:
sns.scatterplot(x=df_clean.loc[0:1000, 'Netflix Data (Bytes)'], y=df_clean.loc[0:1000, 'Total Data (Bytes)'])
plt.savefig('Netflix Correlation.png')

In [ ]:
sns.scatterplot(x=df_clean.loc[0:1000, 'Gaming Data (Bytes)'], y=df_clean.loc[0:1000, 'Total Data (Bytes)'])
plt.savefig('Gaming Correlation.png')

In [ ]:
sns.scatterplot(x=df_clean.loc[0:1000, 'Other Data (Bytes)'], y=df_clean.loc[0:1000, 'Total Data (Bytes)'])
plt.savefig('Other Correlation.png')

In [ ]:
df_clean.describe()

In [ ]:
#Decile Class
df_clean['Decile_rank'] = pd.qcut(df_clean['Dur. (ms)'], 5,
                            labels = False)

In [ ]:
df_clean['Decile_rank'].unique()

In [ ]:
def total_data_per_class(df):
    
    # Sum of total data for first class
    rank_first = df[df['Decile_rank'] == 0]
    total_data_first = sum(rank_first['Total Data (Bytes)'].tolist()) 
    
    # Sum of total data for second class
    rank_second = df[df['Decile_rank'] == 1]
    total_data_second = sum(rank_second['Total Data (Bytes)'].tolist()) 

    # Sum of total data for third class
    rank_third = df[df['Decile_rank'] == 2]
    total_data_third = sum(rank_third['Total Data (Bytes)'].tolist()) 
    
    # Sum of total data for fourth class
    rank_fourth = df[df['Decile_rank'] == 3]
    total_data_fourth = sum(rank_fourth['Total Data (Bytes)'].tolist()) 
    
    # Sum of total data for the fifth class
    rank_fifth = df[df['Decile_rank'] == 4]
    total_data_fifth = sum(rank_fifth['Total Data (Bytes)'].tolist()) 
    
    columns = [total_data_first, total_data_second, total_data_third, total_data_fourth, total_data_fifth]
    rows = ['1', '2', '3', '4', '5']
    
    return pd.DataFrame({'Class':rows, 'Total Data':columns})

In [ ]:
total_data_per_class(df_clean)

In [ ]:
df_clean.columns

In [ ]:
corr_data = df_clean.loc[0:, 'Social Media Data (Bytes)':'Total Data (Bytes)']

In [ ]:
def correlation_matrix(df):
    correlation = []
    # Calculate correlation of each column in the dataset against other columns 
    corr_matrix = df.corr()
    for column in corr_matrix:
        corr = corr_matrix[column].sort_values(ascending = False)
        correlation.append(corr)
        
    return pd.DataFrame(correlation)

correlation_matrix(corr_data)

In [ ]:
df_clean

In [ ]:
df_clean2 = df_clean.copy()

In [ ]:
df_clean

In [ ]:
user_id = df_clean[['IMSI', 'IMEI', 'Bearer Id', 'MSISDN/Number']]
df_clean = df_clean.drop(['IMSI', 'IMEI', 'Bearer Id', 'MSISDN/Number', 'Decile_rank'], axis = 1)

In [ ]:
df_clean

In [ ]:
df_clean1 = df_clean

In [ ]:
df_columns = df_clean.columns.tolist()

In [ ]:
from sklearn.preprocessing import Normalizer
df_clean = df_clean1
norm = Normalizer()
df_clean = norm.fit_transform(df_clean)
df_clean = pd.DataFrame(df_clean, columns = df_columns)

In [ ]:
normalized_data = df_clean
normalized_data = pd.concat([normalized_data, user_id], axis = 1)

In [ ]:
normalized_data

In [ ]:
data_volume = normalized_data['Total Data (Bytes)']

In [ ]:
session_frequency = normalized_data[['MSISDN/Number', 'Bearer Id']].groupby('MSISDN/Number').count()
session_frequency

In [ ]:
from sklearn.preprocessing import StandardScaler
norm_data = normalized_data.copy()
normalized_clean = normalized_data.drop(['Bearer Id', 'IMSI', 'IMEI', 'MSISDN/Number'], axis = 1)
columns = normalized_data.columns.tolist()
columns = columns[0:19]
columns

In [ ]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

scaled = StandardScaler().fit_transform(normalized_data)

pca = PCA(n_components = 19)
p_components = pca.fit_transform(scaled)
reduced_data = pd.DataFrame(p_components, columns = columns)
reduced_data = pd.concat([reduced_data, user_id, data_volume], axis =1)
reduced_data

In [ ]:
reduced_data.sort_values(by = ['Dur. (ms)'], ascending = False).head(10)

In [ ]:
columns = ['Dur. (ms)', 'Total Data (Bytes)']
reduced_data.groupby(['MSISDN/Number'])[columns].agg([np.mean])

In [ ]:
reduced_data.pivot_table(['Dur. (ms)', 'Bearer Id', 'Total Data (Bytes)'],
             ['MSISDN/Number'])

In [ ]:
session_frequency = reduced_data[['MSISDN/Number', 'Bearer Id']].groupby('MSISDN/Number').count()
session_frequency.sort_values(by = 'Bearer Id', ascending = False)

In [ ]:
agg_by_data = reduced_data[['MSISDN/Number', 'Total Data (Bytes)']].groupby('MSISDN/Number').sum()
agg_by_data.sort_values(by = 'Total Data (Bytes)', ascending = False).head(10)

In [ ]:
agg_by_dur = reduced_data[['MSISDN/Number', 'Dur. (ms)']].groupby('MSISDN/Number').agg(np.mean)
agg_by_dur.sort_values(by = 'Dur. (ms)', ascending = False).head(10)

In [ ]:
agg_by_netflix = df_clean[['Netflix Data (Bytes)']].groupby(reduced_data['MSISDN/Number']).mean()
agg_by_netflix.sort_values(by = 'Netflix Data (Bytes)', ascending = False).head(10)

In [ ]:
agg_by_email = df_clean[['Email Data (Bytes)']].groupby(reduced_data['MSISDN/Number']).mean()
agg_by_email.sort_values(by = 'Email Data (Bytes)', ascending = False).head(10)

In [ ]:
agg_by_gaming = df_clean[['Gaming Data (Bytes)']].groupby(reduced_data['MSISDN/Number']).agg(np.mean)
agg_by_gaming.sort_values(by ='Gaming Data (Bytes)', ascending = False).head(10)

In [ ]:
agg_by_youtube = df_clean[['Youtube Data (Bytes)']].groupby(reduced_data['MSISDN/Number']).mean()
agg_by_youtube.sort_values(by = 'Youtube Data (Bytes)', ascending = False).head(10)

In [ ]:
agg_by_google = df_clean[['Google Data (Bytes)']].groupby(reduced_data['MSISDN/Number']).mean()
agg_by_google.sort_values(by = 'Google Data (Bytes)', ascending = False).head(10)

In [ ]:
from sklearn.cluster import KMeans

kmeans = KMeans(3)
a = kmeans.fit(normalized_data)

clusters = normalized_data.copy()
clusters['clusters_pred'] = kmeans.fit_predict(clusters)
display(clusters.sort_values(by = 'clusters_pred'))

In [ ]:
non_normalized = pd.concat([df_clean1, clusters['clusters_pred']], axis = 1)
non_normalized

In [ ]:
columns_to_show = ['Total Data (Bytes)', 'Dur. (ms)']

non_normalized.groupby(['clusters_pred'])[columns_to_show].describe(percentiles=[])

In [ ]:
non_normalized

In [ ]:
# Createa an empty list
wcss =[]

# Create all possible cluster solutions with a loop
for i in range(1,12):
    # Clsuter solution with i clusters
    kmeans = KMeans(i)
    # Fit the STANDARDIZED data
    kmeans.fit(normalized_data)
    # Append the WCSS for the iteration
    wcss.append(kmeans.inertia_)
    
# Check the result
wcss

In [ ]:
# Plot the number of clusters vs WCSS
plt.plot(range(1,12),wcss)
# Name your axes
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')

In [ ]:
normalized_data

In [ ]:
engagement_metric = normalized_data[['MSISDN/Number', 'Total Data (Bytes)', 'Dur. (ms)']]

kmeans = KMeans(2)
a = kmeans.fit(engagement_metric)

engagement_cluster = engagement_metric.copy()
engagement_cluster['clusters_pred'] = kmeans.fit_predict(engagement_cluster)

In [ ]:
df3 = df_clean.copy()
df3

In [ ]:
df3.isna().sum()

In [ ]:
def avg_columns(df):
    #Calculate Avg RTT DL & UL 
    df['Avg RTT'] = df['Avg RTT DL (ms)'] + df['Avg RTT UL (ms)']
    
    # Calcualte TCP Retrans DL & UL
    df['Avg TCP Retrans'] = df['TCP DL Retrans. Vol (Bytes)'] + df['TCP UL Retrans. Vol (Bytes)']
    
    # Calculate Avg Bearer TP DL & UL
    df['Avg Bearer TP'] = df['Avg Bearer TP DL (kbps)'] + df['Avg Bearer TP UL (kbps)']
    
avg_columns(df3)

In [ ]:
filled_df = df2.copy()

In [ ]:
filled_df['Handset Manufacturer'] = filled_df['Handset Manufacturer'].fillna(filled_df['Handset Manufacturer'].mode()[0])
filled_df['Handset Type'] = filled_df['Handset Type'].fillna(filled_df['Handset Type'].mode()[0])
filled_df['MSISDN/Number'] = filled_df['MSISDN/Number'].fillna(filled_df['MSISDN/Number'].mode()[0])
filled_df

In [ ]:
handset_info = filled_df[['Handset Manufacturer','Handset Type', 'MSISDN/Number']]

In [ ]:
df3 = pd.concat([df3, handset_info], axis = 1)

In [ ]:
df3['MSISDN/Number'].isna().sum()

In [ ]:
df3

In [ ]:
df3.columns

In [ ]:
df3[['Avg RTT', 'Avg Bearer TP', 'Avg TCP Retrans']].groupby(df3['MSISDN/Number']).agg(np.mean)

In [ ]:
by_RTT = df3[['Avg RTT']].groupby(df3['MSISDN/Number']).agg(np.mean)
by_RTT.sort_values(by = 'Avg RTT', ascending = False).head(10)

In [ ]:
by_bearerTP = df3[['Avg Bearer TP']].groupby(df3['MSISDN/Number']).agg(np.mean)
by_bearerTP.sort_values(by = 'Avg Bearer TP', ascending = False).head(10)

In [ ]:
by_tcp = df3[['Avg TCP Retrans']].groupby(df3['MSISDN/Number']).agg(np.mean)
by_tcp.sort_values(by = 'Avg TCP Retrans', ascending = False).head(10)

In [ ]:
by_handset = df3[['Avg TCP Retrans']].groupby(df3['Handset Type']).agg(np.mean)
by_handset.sort_values(by = 'Avg TCP Retrans', ascending = False).head(10)

In [ ]:
by_handsetRTT = df3[['Avg Bearer TP']].groupby(df3['Handset Type']).agg(np.mean)
by_handsetRTT.sort_values(by = 'Avg Bearer TP', ascending = False).head(10)

In [ ]:
experience_metric = df3[['Avg Bearer TP', 'MSISDN/Number', 'Avg RTT', 'Avg TCP Retrans']]

kmeans.new = KMeans(3)
kmeans.fit(experience_metric)

experience_cluster = engagement_metric.copy()
experience_cluster['Cluster pred'] = kmeans.fit_predict(experience_metric)

In [ ]:
 from sklearn.metrics.pairwise import euclidean_distances
X = [[0, 1], [1, 1]] # distance between rows of X
euclidean_distances(X, X)
 # get distance to origin
euclidean_distances(X, [[0, 0]])

In [ ]:
metric = df3[['Avg Bearer TP', 'MSISDN/Number', 'Avg RTT', 'Avg TCP Retrans']]
new_normalized = pd.concat([normalized_data, metric], axis = 1)

In [ ]:
experience_metric = new_normalized[['Avg Bearer TP', 'MSISDN/Number', 'Avg RTT', 'Avg TCP Retrans']]

kmeans.new = KMeans(3)
kmeans.fit(experience_metric)

experience_cluster = experience_metric.copy()
experience_cluster['Cluster pred'] = kmeans.fit_predict(experience_metric)

In [ ]:
clusters

In [ ]:
engagement_cluster

In [ ]:
experience_cluster